* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
body {
    font-size: 20px;
    background: #c4d0b4;
}
.row .details {
    background: white;
    border-radius:5px;
}

.amount {
    color: black;
    font-weight: 700;
}
